---
import '../styles/global.css';
import HeroSection from '../components/HeroSection';
import AcademicMilestone from '../components/AcademicMilestone';
import TravelLog from '../components/TravelLog';
import FlavorsAndSound from '../components/FlavorsAndSound';
import DigitalEnvelope from '../components/DigitalEnvelope';
import Footer from '../components/Footer';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>For Ivee - Our Anniversary</title>
		<meta name="description" content="A special anniversary website for Ivee, celebrating our love story since September 25, 2022" />
	</head>
	<body>
		<HeroSection />
		<AcademicMilestone />
		<TravelLog />
		<FlavorsAndSound />
		<DigitalEnvelope />
		<Footer />
	</body>
</html>
